<a href="https://colab.research.google.com/github/alexgirardet/Analyzing_Rightmove/blob/main/BigQuery_bquxjob_2f0a5ad2_185391a10d1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'ric-eu-dl-lz-dev-nprd' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=ric-eu-dl-lz-dev-nprd:EU:bquxjob_2f0a5ad2_185391a10d1)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_2f0a5ad2_185391a10d1') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT
logName,
type,
project_id,
dataset_id,
location,
method,

jobInsertResponse.resource.jobStatus jobInsertResponse_status,
jobInsertResponse.resource.jobStatistics.createTime jobInsertResponse_createTime,
jobInsertResponse.resource.jobStatistics.startTime jobInsertResponse_startTime,
jobInsertResponse.resource.jobStatistics.endTime jobInsertResponse_endTime,
jobInsertResponse.resource.jobStatistics.billingTier jobInsertResponse_billingTier,
jobInsertResponse.resource.jobStatistics.totalSlotMs jobInsertResponse_totalSlotMs,
jobInsertResponse.resource.jobStatistics.totalViewsProcessed jobInsertResponse_totalViewsProcessed,
jobInsertResponse.resource.jobName.jobId jobInsertResponse_jobId,
jobInsertResponse.resource.jobStatistics.totalProcessedBytes jobInsertResponse_totalProcessedBytes,
jobInsertResponse.resource.jobStatistics.totalBilledBytes jobInsertResponse_totalBilledBytes,

jobQueryResponse.job.jobStatus jobQueryResponse_status,
jobQueryResponse.job.jobStatistics.createTime jobQueryResponse_createTime,
jobQueryResponse.job.jobStatistics.startTime jobQueryResponse_startTime,
jobQueryResponse.job.jobStatistics.endTime jobQueryResponse_endTime,
jobQueryResponse.job.jobStatistics.billingTier jobQueryResponse_billingTier,
jobQueryResponse.job.jobStatistics.totalSlotMs jobQueryResponse_totalSlotMs,
jobQueryResponse.job.jobStatistics.totalViewsProcessed jobQueryResponse_totalViewsProcessed,
jobQueryResponse.job.jobName.jobId jobQueryResponse_jobId,
jobQueryResponse.job.jobStatistics.totalProcessedBytes jobQueryResponse_totalProcessedBytes,
jobQueryResponse.job.jobStatistics.totalBilledBytes jobQueryResponse_totalBilledBytes,

jobGetQueryResultsResponse.job.jobStatus jobGetQueryResultsResponse_status,
jobGetQueryResultsResponse.job.jobStatistics.createTime jobGetQueryResultsResponse_createTime,
jobGetQueryResultsResponse.job.jobStatistics.startTime jobGetQueryResultsResponse_startTime,
jobGetQueryResultsResponse.job.jobStatistics.endTime jobGetQueryResultsResponse_endTime,
jobGetQueryResultsResponse.job.jobStatistics.billingTier jobGetQueryResultsResponse_billingTier,
jobGetQueryResultsResponse.job.jobStatistics.totalSlotMs jobGetQueryResultsResponse_totalSlotMs,
jobGetQueryResultsResponse.job.jobStatistics.totalViewsProcessed jobGetQueryResultsResponse_totalViewsProcessed,
jobGetQueryResultsResponse.job.jobName.jobId jobGetQueryResultsResponse_jobId,
jobGetQueryResultsResponse.job.jobStatistics.totalProcessedBytes jobGetQueryResultsResponse_totalProcessedBytes,
jobGetQueryResultsResponse.job.jobStatistics.totalBilledBytes jobGetQueryResultsResponse_totalBilledBytes

FROM `ric-eu-dl-lz-dev-nprd.alexsbx_billing_export.data_access_jobs`

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_2f0a5ad2_185391a10d1') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (1226906) exceeds max_rows (20000). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,jobInsertResponse_status,jobInsertResponse_createTime,jobInsertResponse_startTime,jobInsertResponse_endTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
0,projects/vca-eu-datalake-ww-nprd/logs/cloudaud...,bigquery_resource,vca-eu-datalake-ww-nprd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1,projects/vca-eu-datalake-ww-nprd/logs/cloudaud...,bigquery_resource,vca-eu-datalake-ww-nprd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
2,projects/ric-eu-dl-cl-qal-prd/logs/cloudaudit....,bigquery_resource,ric-eu-dl-cl-qal-prd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
3,projects/ric-eu-dl-cl-rev-etl-prd/logs/cloudau...,bigquery_resource,ric-eu-dl-cl-rev-etl-prd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
4,projects/ric-eu-dl-iot-poc-dev-nprd/logs/cloud...,bigquery_resource,ric-eu-dl-iot-poc-dev-nprd,None,None,jobservice.query,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226901,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_windchill,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226902,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_windchill,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226903,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_sap,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226904,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_sap_dyn,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226905,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_dataset,car-eu-datalake-mch-ms-ww-nprd,bqdts_mch_stg_windchill,None,google.cloud.bigquery.v2.JobService.GetQueryRe...,None,NaT,NaT,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>

In [10]:
information_job = client.get_job('bquxjob_10ae1120_1853a3db5be') # Job ID inserted based on the query results selected to explore
information_results = information_job.to_dataframe()
information_results

Warning: total number of rows (35450) exceeds max_rows (20000). Falling back to pandas display.

,creation_time,project_id,job_id,job_type,statement_type,start_time,end_time,state,total_bytes_billed,total_bytes_processed,total_slot_ms
0,2022-12-13 00:01:02.192000+00:00,ric-eu-dl-ops-dev-nprd,42f3e347-4914-4e52-b8ef-4863ac8518c4,QUERY,SELECT,2022-12-13 00:01:02.255000+00:00,2022-12-13 00:01:02.420000+00:00,DONE,0,0,34
1,2022-12-13 06:00:50.839000+00:00,ric-eu-dl-ops-dev-nprd,36cc8081-5a90-430f-91e6-f6408eb8c449,QUERY,SELECT,2022-12-13 06:00:50.918000+00:00,2022-12-13 06:00:51.235000+00:00,DONE,0,0,28
2,2022-12-13 12:44:14.737000+00:00,ric-eu-dl-ops-dev-nprd,ab4d0c41-4f8b-4ae5-82a7-b732c0e10fb8,QUERY,MERGE,2022-12-13 12:44:14.934000+00:00,2022-12-13 12:44:28.995000+00:00,DONE,4315938816,4314925360,1135845
3,2022-12-13 11:00:28.496000+00:00,ric-eu-dl-ops-dev-nprd,2e0f6f6a-d931-4661-a188-e85ee7bcb2c9,QUERY,SELECT,2022-12-13 11:00:28.572000+00:00,2022-12-13 11:00:28.765000+00:00,DONE,0,0,179
4,2022-12-13 09:33:55.045000+00:00,ric-eu-dl-ops-dev-nprd,54105d64-4234-4f67-a4d6-ffeb3a6f72cb,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 09:33:55.307000+00:00,2022-12-13 09:34:00.532000+00:00,DONE,105237184512,105236333766,300327
...,...,...,...,...,...,...,...,...,...,...,...
35445,2022-12-13 12:19:27.382000+00:00,ric-eu-dl-ops-dev-nprd,job_yKVSOD2M7auQdtzxUN_OIyWHA0YY,QUERY,SELECT,2022-12-13 12:19:27.410000+00:00,2022-12-13 12:19:27.611000+00:00,DONE,10485760,10485760,70
35446,2022-12-13 07:38:31.920000+00:00,ric-eu-dl-ops-dev-nprd,job_MO4XJsxAv4kABDdiNHev6fcod-MX,QUERY,SELECT,2022-12-13 07:38:31.941000+00:00,2022-12-13 07:38:32.052000+00:00,DONE,0,0,10
35447,2022-12-13 03:43:36.712000+00:00,ric-eu-dl-ops-dev-nprd,job_AVGaR-fiasUZ77Eybv20bNi1jxLL,QUERY,SELECT,2022-12-13 03:43:36.753000+00:00,2022-12-13 03:43:36.920000+00:00,DONE,10485760,26,40
35448,2022-12-13 12:10:47.485000+00:00,ric-eu-dl-ops-dev-nprd,job_-NmrvoN58gTh1jKioavIBPxt3w8k,QUERY,SELECT,2022-12-13 12:10:47.516000+00:00,2022-12-13 12:10:47.726000+00:00,DONE,10485760,10485760,49
35449,2022-12-13 08:12:56.883000+00:00,ric-eu-dl-ops-dev-nprd,job_JNn-ruh9QVwSe4VOvHgcprIyldOY,QUERY,SELECT,2022-12-13 08:12:56.921000+00:00,2022-12-13 08:12:57.173000+00:00,DONE,10485760,10485760,51

# Objective

Understand how to construct a query that will replicate information schema for all projects. I need to identify which tables within audit log matter for this query.

In [12]:
project_results = results[results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

# Analysis

## Id analysis

In [16]:
results_query = list(project_results['jobQueryResponse_jobId'])
results_insert = list(project_results['jobInsertResponse_jobId'])
results_results = list(project_results['jobGetQueryResultsResponse_jobId'])

information_results_ids = list(information_results['job_id'])

In [17]:
filtered_query_ids = list(filter(None, results_query))
filtered_insert_ids = list(filter(None, results_insert))
filtered_results_ids = list(filter(None, results_results))

filtered_information_ids = list(filter(None, information_results_ids))

In [18]:
combined_table_ids = filtered_query_ids + filtered_insert_ids + filtered_results_ids

Which tables contain the same Ids as the information schema table.

## JobQueryResponse

In [19]:
missing_query_ids = [x for x in information_results_ids if x not in filtered_query_ids]

In [20]:
len(missing_query_ids)

11771

In [21]:
len(missing_query_ids) / len(filtered_information_ids)

0.3320451339915374

## JobInsertReponse

In [22]:
missing_insert_ids = [x for x in information_results_ids if x not in filtered_insert_ids]

In [23]:
len(missing_insert_ids)

23679

In [24]:
len(missing_insert_ids) / len(filtered_information_ids)

0.6679548660084627

## JobGetQueryResultsResponse

In [25]:
missing_results_ids = [x for x in information_results_ids if x not in filtered_results_ids]

In [26]:
len(missing_results_ids)

14642

In [27]:
len(missing_results_ids) / len(filtered_information_ids)

0.4130324400564175

## All combined

In [28]:
missing_combined_ids = [x for x in information_results_ids if x not in combined_table_ids]

In [29]:
len(missing_combined_ids)

0

In [30]:
len(missing_combined_ids) / len(filtered_information_ids)

0.0

In [34]:
len(combined_table_ids) - len(filtered_information_ids) # Excess of 26300 Ids. We will conduct an analysis of these queries.

26300

## Query and Insert Response

In [31]:
query_insert_ids = filtered_query_ids + filtered_insert_ids
missing_query_insert_ids = [x for x in information_results_ids if x not in query_insert_ids]

In [32]:
len(missing_query_insert_ids)

0

In [33]:
len(missing_query_insert_ids) / len(filtered_information_ids)

0.0

In [36]:
len(query_insert_ids) - len(filtered_information_ids) # Excess of 4 Ids. We will conduct an analysis of these queries.

4

Initial findings suggest that a combination of queryResponse table and the insertResponse table covers all the queries, however we need to analyze on a bytes processed basis.

# Bytes Processed analysis

In [39]:
information_results.total_bytes_billed.sum() # The sum from the information schema results table is 158.18 TB. We want to approach this figure as close as possible.

173920802045952

In [43]:
insert_query_results = project_results[(project_results['jobInsertResponse_jobId'].isin(query_insert_ids)) | (project_results['jobQueryResponse_jobId'].isin(query_insert_ids))]

In [48]:
insert_query_results.info() # We can see that every row is mutually exclusive. Meanning that if it one of the tree types then it will not have another on the same row.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35454 entries, 32640 to 1190949
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   logName                                         35454 non-null  object
 1   type                                            35454 non-null  object
 2   project_id                                      35454 non-null  object
 3   dataset_id                                      0 non-null      object
 4   location                                        0 non-null      object
 5   method                                          35454 non-null  object
 6   jobInsertResponse_status                        11773 non-null  object
 7   jobInsertResponse_createTime                    11773 non-null  datetime64[ns, UTC]
 8   jobInsertResponse_startTime                     11773 non-null  datetime64[ns, UTC]
 9   jobInsertResponse_endTime                       1984 non-null   datetime64[ns, UTC]
 10  jobInsertResponse_billingTier                   1387 non-null   Int64
 11  jobInsertResponse_totalSlotMs                   1733 non-null   Int64
 12  jobInsertResponse_totalViewsProcessed           8 non-null      Int64
 13  jobInsertResponse_jobId                         11773 non-null  object
 14  jobInsertResponse_totalProcessedBytes           1387 non-null   Int64
 15  jobInsertResponse_totalBilledBytes              1387 non-null   Int64
 16  jobQueryResponse_status                         23681 non-null  object
 17  jobQueryResponse_createTime                     23681 non-null  datetime64[ns, UTC]
 18  jobQueryResponse_startTime                      23681 non-null  datetime64[ns, UTC]
 19  jobQueryResponse_endTime                        14211 non-null  datetime64[ns, UTC]
 20  jobQueryResponse_billingTier                    8799 non-null   Int64
 21  jobQueryResponse_totalSlotMs                    14651 non-null  Int64
 22  jobQueryResponse_totalViewsProcessed            0 non-null      Int64
 23  jobQueryResponse_jobId                          23681 non-null  object
 24  jobQueryResponse_totalProcessedBytes            8799 non-null   Int64
 25  jobQueryResponse_totalBilledBytes               8799 non-null   Int64
 26  jobGetQueryResultsResponse_status               0 non-null      object
 27  jobGetQueryResultsResponse_createTime           0 non-null      datetime64[ns, UTC]
 28  jobGetQueryResultsResponse_startTime            0 non-null      datetime64[ns, UTC]
 29  jobGetQueryResultsResponse_endTime              0 non-null      datetime64[ns, UTC]
 30  jobGetQueryResultsResponse_billingTier          0 non-null      Int64
 31  jobGetQueryResultsResponse_totalSlotMs          0 non-null      Int64
 32  jobGetQueryResultsResponse_totalViewsProcessed  0 non-null      Int64
 33  jobGetQueryResultsResponse_jobId                0 non-null      object
 34  jobGetQueryResultsResponse_totalProcessedBytes  0 non-null      Int64
 35  jobGetQueryResultsResponse_totalBilledBytes     0 non-null      Int64
dtypes: Int64(15), datetime64[ns, UTC](9), object(12)
memory usage: 10.5+ MB

We will check the sums of both types.

In [49]:
insert_query_results['jobInsertResponse_totalBilledBytes'].sum()

2620075802624

In [50]:
insert_query_results['jobQueryResponse_totalBilledBytes'].sum()

92264202240

In [52]:
2620075802624 + 92264202240 # The sum of totalBilledBytes from all rows is only 2.46 TB. Which implies that while the table might have all the rows, the billed bytes values might not be stored there

2712340004864

## Combined table

In [56]:
project_results['jobInsertResponse_totalBilledBytes'].sum() + project_results['jobQueryResponse_totalBilledBytes'].sum() + project_results['jobGetQueryResultsResponse_totalBilledBytes'].sum() # All combined table values shows there is 177.5 TB. Implying there is an excess of 19TB.

195165345021952

In [64]:
cleaned_project_results = project_results.drop(columns=['jobInsertResponse_status', 'jobQueryResponse_status','jobGetQueryResultsResponse_status' ]).drop_duplicates().reset_index(drop=True) # Drop dict type columns. drop_duplicates and reset index.

In [65]:
cleaned_project_results['jobInsertResponse_totalBilledBytes'].sum() + cleaned_project_results['jobQueryResponse_totalBilledBytes'].sum() + cleaned_project_results['jobGetQueryResultsResponse_totalBilledBytes'].sum() # Removing duplicates brings the value down to 159.87. Implying there is an excess of 1.4TB.

175775917539328

Discounting for the jobInsertResponse and JobQueryesponse table counts would mean we are under by 1TB. This implies that a combination of the three would be the most accurate path forward. However there will have to be some logic implemented.

## Preprocessing

In [73]:
def handle_ids(x):
  count = 0

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return 0
  elif query is not None:
    return 1
  elif insert is not None:
    return 2

def return_ids(x):

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return query_results
  elif query is not None:
    return query
  elif insert is not None:
    return insert

In [74]:
cleaned_project_results['owner'] = cleaned_project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

In [70]:
cleaned_project_results['id'] = cleaned_project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

In [75]:
cleaned_project_results.head()

Warning: Total number of columns (35) exceeds max_columns (20). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,jobInsertResponse_createTime,jobInsertResponse_startTime,jobInsertResponse_endTime,jobInsertResponse_billingTier,...,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes,owner,id
0,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.query,NaT,NaT,NaT,<NA>,...,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,1.0,job_q4NogfOJihLss-iP47mN5GVq5oNs
1,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.query,NaT,NaT,NaT,<NA>,...,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,NaN,None
2,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.query,NaT,NaT,NaT,<NA>,...,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,1.0,job_vEK9oS12GxmwiN4P8Bgv82dOzU5D
3,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.query,NaT,NaT,NaT,<NA>,...,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,1.0,job_yOvlIKfSaOqc_uvc_UV1QCACyjIA
4,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.query,NaT,NaT,NaT,<NA>,...,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,1.0,job_86sVVXgeDYzw2DztCBAkJoNcCb23

In [77]:
cleaned_project_results = cleaned_project_results.sort_values(by='owner')

In [80]:
processed = cleaned_project_results.drop_duplicates(subset=['id'], keep='first')

In [81]:
processed['jobInsertResponse_totalBilledBytes'].sum() + processed['jobQueryResponse_totalBilledBytes'].sum() + processed['jobGetQueryResultsResponse_totalBilledBytes'].sum() # Removing duplicates brings the value down to 82.2.

90408403075072

The strategy of prioritizing jobGetQueryResultsResponse did not work. Let me play some classical music and think.

Okay I am Bach (haha), I will analyze the rows, and see if we are accidentally deleting duplicates which have totalBilledBytes. For this we need a query that pushes all bytes to a single row.

## Analyse bytes

In [83]:
import numpy as np

In [107]:
def return_bytes(x):

  query_results = str(x[0])
  query = str(x[1])
  insert = str(x[2])

  if query_results != '<NA>':
    return float(query_results)
  elif query != '<NA>':
    return float(query)
  elif insert != '<NA>':
    return float(insert)
  else:
    return np.nan

In [108]:
cleaned_project_results['bytes'] = cleaned_project_results[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

In [109]:
cleaned_project_results

Warning: total number of rows (76145) exceeds max_rows (20000). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,jobInsertResponse_createTime,jobInsertResponse_startTime,jobInsertResponse_endTime,jobInsertResponse_billingTier,...,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes,owner,id,bytes
76144,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,NaT,NaT,NaT,<NA>,...,2022-12-13 10:52:44.389000+00:00,1,38283,<NA>,job_KZ3UAJkdswEy58b5cxeROnrAIoOf,4147276,20971520,0.0,job_KZ3UAJkdswEy58b5cxeROnrAIoOf,2.097152e+07
26566,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,NaT,NaT,NaT,<NA>,...,2022-12-13 14:32:53.396000+00:00,1,11160820,10,e07b2198-7648-4d0f-92eb-6c15471fa9f0,179299957091,179300204544,0.0,e07b2198-7648-4d0f-92eb-6c15471fa9f0,1.793002e+11
26565,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,NaT,NaT,NaT,<NA>,...,2022-12-13 13:41:29.716000+00:00,<NA>,<NA>,<NA>,job_r_Mdpk_UfeuEHgc4ldtZaNfKngh3,<NA>,<NA>,0.0,job_r_Mdpk_UfeuEHgc4ldtZaNfKngh3,NaN
26564,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,NaT,NaT,NaT,<NA>,...,NaT,<NA>,32168,<NA>,3fc855a4-4273-4cd9-b8fc-f0fda018104b,<NA>,<NA>,0.0,3fc855a4-4273-4cd9-b8fc-f0fda018104b,NaN
26563,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,NaT,NaT,NaT,<NA>,...,2022-12-13 11:12:20.197000+00:00,1,2444,<NA>,bqOdbcJob_daf537591e0449aebddd019f1f33d25a,110,10485760,0.0,bqOdbcJob_daf537591e0449aebddd019f1f33d25a,1.048576e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74913,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.insert,2022-12-13 13:02:24.284000+00:00,NaT,NaT,<NA>,...,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,NaN,None,NaN
74923,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.insert,2022-12-13 07:54:23.437000+00:00,NaT,NaT,<NA>,...,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,NaN,None,NaN
74925,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.insert,2022-12-13 08:16:10.880000+00:00,NaT,NaT,<NA>,...,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,NaN,None,NaN
74926,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.insert,2022-12-13 10:51:22.978000+00:00,NaT,NaT,<NA>,...,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,NaN,None,NaN
74927,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.insert,2022-12-13 09:44:22.368000+00:00,NaT,NaT,<NA>,...,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>,NaN,None,NaN

In [110]:
cut_table = cleaned_project_results[['owner', 'id', 'bytes']]

In [119]:
cut_table.id.value_counts() # Get the Ids with the highest values.

869082c3-eb98-4066-8c41-48db3249356e    46
2fffa725-5918-4f65-8e9f-59c2b79a676b    19
bf783d1c-f655-431a-a45f-01de9b0ee3ee    19
8cb49419-335f-4da7-adf8-7ca8a7a5a4bf    14
77a87024-ba22-4382-90ff-9dbc998cb2b3    10
                                        ..
job_SawwqxpZXe0-_78_I9cBMDlRCvRg         1
job_F64DyoxBPucOwHCPNRL6SVi0elVz         1
job_dLDpaXq4DAoTzezwmvudWi-b9247         1
job_nYrw6HqkjQe9tKiosYOjztn1V6Ax         1
08de21b9-46e9-47a3-8605-c023155f4ceb     1
Name: id, Length: 35454, dtype: int64

In [120]:
cut_table[cut_table['id'] == '2fffa725-5918-4f65-8e9f-59c2b79a676b']

       owner                                    id         bytes
27039    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
57907    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
53172    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b  8.662003e+11
45182    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
31720    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
30953    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
35661    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
49642    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
49544    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
70657    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
66905    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
8957     0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
74983    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
3576     0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
13621    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
12552    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
62856    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
62771    0.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN
39624    2.0  2fffa725-5918-4f65-8e9f-59c2b79a676b           NaN

Interesting finding, suggests that there are many of the same queries instances withing the GetQueryResultsResponse table. Dropping duplicates by Id and Bytes should bring remove all the duplicate nans.

In [123]:
check = cut_table.drop_duplicates(subset=['id', 'bytes'])

In [126]:
check.id.value_counts() # Identify which Ids are still duplicates.

a369be15-6a64-4934-b370-094a469353cd    5
6e8b0808-b0e0-484e-a6b0-c407f86a9077    4
dfb57564-bfef-4020-879b-b1a7d6293166    3
6073936a-2772-4d15-bb3e-414bcb2643d2    3
81a581a0-0b8a-4257-9392-b2530ca12ecb    3
                                       ..
job_eJq3_KsNEJzwApNq0sh2q4TzMMJa        1
job_JqzMuthF5134X-rgO4cCcbNARFKX        1
job_J_Y1-DQiBV3_oYc84UeGdYlHN0SB        1
job_uda8mj1yxoxXImRqke-swOwC-sdV        1
08de21b9-46e9-47a3-8605-c023155f4ceb    1
Name: id, Length: 35454, dtype: int64

In [129]:
check[check['id'] == 'a369be15-6a64-4934-b370-094a469353cd']

       owner                                    id         bytes
36155    0.0  a369be15-6a64-4934-b370-094a469353cd  4.204790e+09
71119    0.0  a369be15-6a64-4934-b370-094a469353cd  3.102632e+10
67041    0.0  a369be15-6a64-4934-b370-094a469353cd  1.869611e+09
12807    0.0  a369be15-6a64-4934-b370-094a469353cd  1.782579e+08
65736    2.0  a369be15-6a64-4934-b370-094a469353cd           NaN

In [128]:
check[check['id'] == 'dfb57564-bfef-4020-879b-b1a7d6293166']

       owner                                    id         bytes
67204    0.0  dfb57564-bfef-4020-879b-b1a7d6293166  6.237769e+10
9045     0.0  dfb57564-bfef-4020-879b-b1a7d6293166           NaN
75880    0.0  dfb57564-bfef-4020-879b-b1a7d6293166  1.605401e+11

This reinforces that not only are there many of the same rows with the same job id, but that they have different Byte sizes. Troublesome.

My theory is that the latest instance is the most up to date. I will look into the table and see when the Http request was made to the Api and take the most recent version.

## Timestamp analysis

In [145]:
timestamp_job = client.get_job('bquxjob_12ce3be6_1853a85a92d') # Job ID inserted based on the query results selected to explore
timestamp_results = timestamp_job.to_dataframe()
timestamp_results

Warning: total number of rows (1226906) exceeds max_rows (20000). Falling back to pandas display.

,timestamp,receiveTimestamp,project_id,jobId,totalBilledBytes
0,2022-12-13 11:17:46.177782+00:00,2022-12-13 11:17:46.702342+00:00,ric-eu-dl-cl-qal-prd,None,<NA>
1,2022-12-13 13:57:55.888097+00:00,2022-12-13 13:57:56.712258+00:00,ric-eu-grp-procurement-nprd,None,<NA>
2,2022-12-13 03:43:11.231126+00:00,2022-12-13 03:43:11.826887+00:00,ric-eu-dl-iot-poc-dev-nprd,None,<NA>
3,2022-12-13 08:11:55.353716+00:00,2022-12-13 08:11:56.336663+00:00,ric-eu-dl-iot-poc-dev-nprd,None,<NA>
4,2022-12-13 09:11:19.735076+00:00,2022-12-13 09:11:20.338429+00:00,ric-eu-grp-procurement-nprd,None,<NA>
...,...,...,...,...,...
1226901,2022-12-13 02:09:31.340255+00:00,2022-12-13 02:09:32.259585+00:00,car-eu-datalake-mch-ms-ww-nprd,None,<NA>
1226902,2022-12-13 00:56:11.096076+00:00,2022-12-13 00:56:11.565943+00:00,car-eu-datalake-mch-ms-ww-nprd,None,<NA>
1226903,2022-12-13 01:01:51.032536+00:00,2022-12-13 01:01:51.669488+00:00,car-eu-datalake-mch-ms-ww-nprd,None,<NA>
1226904,2022-12-13 05:56:11.592172+00:00,2022-12-13 05:56:12.336330+00:00,car-eu-datalake-mch-ms-ww-nprd,None,<NA>
1226905,2022-12-13 00:35:07.800013+00:00,2022-12-13 00:35:07.944713+00:00,car-eu-datalake-mch-ms-ww-nprd,None,<NA>

In [151]:
project_timestamp_results = timestamp_results[timestamp_results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

Okay we can see that each timestamp is different. I assume the underlying API sent several requests to the API. And the most up to date one is the real one.

In [153]:
project_timestamp_results.sort_values(by='receiveTimestamp', ascending=False).drop_duplicates(subset=['jobId'], keep='first').totalBilledBytes.sum()

169674537959424