<a href="https://colab.research.google.com/github/alexgirardet/Analyzing_Rightmove/blob/main/BigQuery_bquxjob_22c8021f_185865ea938.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'ric-eu-dl-ops-dev-nprd' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=ric-eu-dl-ops-dev-nprd:EU:bquxjob_22c8021f_185865ea938)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_22c8021f_185865ea938') # Job ID inserted based on the query results selected to explore
print(job.query)

WITH source_data AS (
    SELECT

    logName, resource.type,
    resource.labels.project_id,
    resource.labels.dataset_id,
    resource.labels.location,
    resource.labels.table_id,

    timestamp,
    receiveTimestamp,

    protopayload_auditlog.methodName as method,
    protopayload_auditlog.servicedata_v1_bigquery.jobInsertRequest as jobInsert,
    protopayload_auditlog.servicedata_v1_bigquery.jobQueryRequest jobQueryRequest,
    protopayload_auditlog.servicedata_v1_bigquery.jobInsertResponse jobInsertResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobQueryResponse jobQueryResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobGetQueryResultsResponse jobGetQueryResultsResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobQueryDoneResponse jobQueryDoneResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobCompletedEvent jobCompletedEvent

    FROM `ric-eu-dl-lz-dev-nprd`.`alexsbx_billing_export`.`stg_data_access`
)

SELECT
logName,
type,
project_id,
dataset_id,
location,
method,

timestamp,
receiveTimestamp,


jobInsertResponse.resource.jobStatus jobInsertResponse_status,
jobInsertResponse.resource.jobStatistics.createTime jobInsertResponse_createTime,
jobInsertResponse.resource.jobStatistics.startTime jobInsertResponse_startTime,
jobInsertResponse.resource.jobStatistics.endTime jobInsertResponse_endTime,
jobInsertResponse.resource.jobStatistics.billingTier jobInsertResponse_billingTier,
jobInsertResponse.resource.jobStatistics.totalSlotMs jobInsertResponse_totalSlotMs,
jobInsertResponse.resource.jobStatistics.totalViewsProcessed jobInsertResponse_totalViewsProcessed,
jobInsertResponse.resource.jobName.jobId jobInsertResponse_jobId,
jobInsertResponse.resource.jobStatistics.totalProcessedBytes jobInsertResponse_totalProcessedBytes,
jobInsertResponse.resource.jobStatistics.totalBilledBytes jobInsertResponse_totalBilledBytes,

jobQueryResponse.job.jobStatus jobQueryResponse_status,
jobQueryResponse.job.jobStatistics.createTime jobQueryResponse_createTime,
jobQueryResponse.job.jobStatistics.startTime jobQueryResponse_startTime,
jobQueryResponse.job.jobStatistics.endTime jobQueryResponse_endTime,
jobQueryResponse.job.jobStatistics.billingTier jobQueryResponse_billingTier,
jobQueryResponse.job.jobStatistics.totalSlotMs jobQueryResponse_totalSlotMs,
jobQueryResponse.job.jobStatistics.totalViewsProcessed jobQueryResponse_totalViewsProcessed,
jobQueryResponse.job.jobName.jobId jobQueryResponse_jobId,
jobQueryResponse.job.jobStatistics.totalProcessedBytes jobQueryResponse_totalProcessedBytes,
jobQueryResponse.job.jobStatistics.totalBilledBytes jobQueryResponse_totalBilledBytes,

jobGetQueryResultsResponse.job.jobStatus jobGetQueryResultsResponse_status,
jobGetQueryResultsResponse.job.jobStatistics.createTime jobGetQueryResultsResponse_createTime,
jobGetQueryResultsResponse.job.jobStatistics.startTime jobGetQueryResultsResponse_startTime,
jobGetQueryResultsResponse.job.jobStatistics.endTime jobGetQueryResultsResponse_endTime,
jobGetQueryResultsResponse.job.jobStatistics.billingTier jobGetQueryResultsResponse_billingTier,
jobGetQueryResultsResponse.job.jobStatistics.totalSlotMs jobGetQueryResultsResponse_totalSlotMs,
jobGetQueryResultsResponse.job.jobStatistics.totalViewsProcessed jobGetQueryResultsResponse_totalViewsProcessed,
jobGetQueryResultsResponse.job.jobName.jobId jobGetQueryResultsResponse_jobId,
jobGetQueryResultsResponse.job.jobStatistics.totalProcessedBytes jobGetQueryResultsResponse_totalProcessedBytes,
jobGetQueryResultsResponse.job.jobStatistics.totalBilledBytes jobGetQueryResultsResponse_totalBilledBytes

FROM source_data

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_22c8021f_185865ea938') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (1226906) exceeds max_rows (20000). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,timestamp,receiveTimestamp,jobInsertResponse_status,jobInsertResponse_createTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
0,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_project,car-eu-datalake-mch-ms-ww-nprd,None,EU,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 08:46:55.578483+00:00,2022-12-13 08:46:56.175491+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1,projects/car-ww-datalake-common-nprd/logs/clou...,bigquery_resource,car-ww-datalake-common-nprd,None,None,jobservice.insert,2022-12-13 11:18:32.767068+00:00,2022-12-13 11:18:32.975374+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
2,projects/ric-eu-dl-vc-dev-nprd/logs/cloudaudit...,bigquery_resource,ric-eu-dl-vc-dev-nprd,None,None,jobservice.insert,2022-12-13 09:15:21.069255+00:00,2022-12-13 09:15:22.078661+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
3,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_project,car-eu-datalake-mch-ms-ww-nprd,None,EU,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 09:03:16.180860+00:00,2022-12-13 09:03:16.875489+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
4,projects/ric-eu-datalake-gsc-nprd/logs/cloudau...,bigquery_project,ric-eu-datalake-gsc-nprd,None,EU,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 14:09:16.402075+00:00,2022-12-13 14:09:16.937876+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226901,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_dataset,ric-eu-dl-ops-dev-nprd,bqdts_cortex,None,google.cloud.bigquery.v2.JobService.Query,2022-12-13 14:23:37.977492+00:00,2022-12-13 14:23:38.470768+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226902,projects/ric-eu-dl-cl-vca-prd/logs/cloudaudit....,bigquery_dataset,ric-eu-dl-cl-vca-prd,bqdts_inventory_management,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 02:09:21.457400+00:00,2022-12-13 02:09:21.607335+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226903,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_dataset,ric-eu-dl-ops-dev-nprd,bqdts_cortex,None,google.cloud.bigquery.v2.JobService.Query,2022-12-13 00:10:49.868240+00:00,2022-12-13 00:10:50.871446+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226904,projects/rdu-eu-datalake-crm-nprd/logs/cloudau...,bigquery_dataset,rdu-eu-datalake-crm-nprd,8_CRM_Dashboards,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 02:04:56.698630+00:00,2022-12-13 02:04:57.703292+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226905,projects/ric-eu-datalake-prd/logs/cloudaudit.g...,bigquery_dataset,ric-eu-datalake-prd,bqdts_datalake_staging,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 03:18:59.267417+00:00,2022-12-13 03:18:59.748804+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>

# Information Schema Jobs

In [4]:
information_job = client.get_job('bquxjob_41bb133d_1858663ed13') # Job ID inserted based on the query results selected to explore
information_results = information_job.to_dataframe()
information_results

Warning: total number of rows (35450) exceeds max_rows (20000). Falling back to pandas display.

,creation_time,project_id,job_id,job_type,statement_type,start_time,end_time,state,total_bytes_billed,total_bytes_processed,total_slot_ms
0,2022-12-13 06:00:46.389000+00:00,ric-eu-dl-ops-dev-nprd,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,QUERY,SELECT,2022-12-13 06:00:46.455000+00:00,2022-12-13 06:00:46.615000+00:00,DONE,0,0,33
1,2022-12-13 09:05:44.996000+00:00,ric-eu-dl-ops-dev-nprd,442faaf0-d0b0-47fd-9daf-157e80b58101,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 09:05:45.139000+00:00,2022-12-13 09:05:47.133000+00:00,DONE,0,0,19218
2,2022-12-13 12:42:34.410000+00:00,ric-eu-dl-ops-dev-nprd,46d02560-55c0-4d81-b3e4-6cba01acf92c,QUERY,MERGE,2022-12-13 12:42:34.602000+00:00,2022-12-13 12:42:38.430000+00:00,DONE,1609564160,1609302292,55132
3,2022-12-13 13:08:30.896000+00:00,ric-eu-dl-ops-dev-nprd,321b0de6-a945-4a96-a1d3-c4848a4d78d6,QUERY,SELECT,2022-12-13 13:08:30.964000+00:00,2022-12-13 13:08:31.124000+00:00,DONE,0,0,43
4,2022-12-13 11:02:37.449000+00:00,ric-eu-dl-ops-dev-nprd,bf2a74c4-68ca-432a-8b89-c7bee441fcdb,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 11:02:37.638000+00:00,2022-12-13 11:02:39.430000+00:00,DONE,10485760,1521494,17808
...,...,...,...,...,...,...,...,...,...,...,...
35445,2022-12-13 05:30:19.354000+00:00,ric-eu-dl-ops-dev-nprd,job_9RY_q_Gh2kmKjLulbpUxQ4fhQD_3,QUERY,SELECT,2022-12-13 05:30:19.382000+00:00,2022-12-13 05:30:19.648000+00:00,DONE,10485760,10485760,116
35446,2022-12-13 14:10:01.285000+00:00,ric-eu-dl-ops-dev-nprd,job_RxE917RHlYT2WdxnVJClmgjOKY2j,QUERY,SELECT,2022-12-13 14:10:01.575000+00:00,2022-12-13 14:10:01.795000+00:00,DONE,10485760,10485760,44
35447,2022-12-13 01:56:16.886000+00:00,ric-eu-dl-ops-dev-nprd,job_qglDx3X-rbVKD5GV2og8IzXcAHLh,QUERY,SELECT,2022-12-13 01:56:16.935000+00:00,2022-12-13 01:56:17.082000+00:00,DONE,10485760,26,26
35448,2022-12-13 03:49:44.220000+00:00,ric-eu-dl-ops-dev-nprd,job_kLjsbUSkkwU5o2vFUqiVyaE3JQIq,QUERY,SELECT,2022-12-13 03:49:44.263000+00:00,2022-12-13 03:49:44.417000+00:00,DONE,10485760,9212,68
35449,2022-12-13 03:33:29.484000+00:00,ric-eu-dl-ops-dev-nprd,job_1YoqfDQOqKL7VPRG4JYVqa6V4tDW,QUERY,SELECT,2022-12-13 03:33:29.503000+00:00,2022-12-13 03:33:29.693000+00:00,DONE,10485760,10485760,92

# Replicate IS JOBS with audit logs

## Preprocessing

In [5]:
import numpy as np

In [6]:
def handle_ids(x):
  count = 0

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return 0
  elif query is not None:
    return 1
  elif insert is not None:
    return 2

def return_ids(x):

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return query_results
  elif query is not None:
    return query
  elif insert is not None:
    return insert

def return_bytes(x):

  query_results = str(x[0])
  query = str(x[1])
  insert = str(x[2])

  if query_results != '<NA>':
    return float(query_results)
  elif query != '<NA>':
    return float(query)
  elif insert != '<NA>':
    return float(insert)
  else:
    return np.nan

In [7]:
project_results = results[results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

In [8]:
project_results['owner'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

<ipython-input-8-4addef7d5806>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results['owner'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

In [9]:
project_results['id'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

<ipython-input-9-ee6d19d1796c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results['id'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

In [10]:
project_results['bytes'] = project_results[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

<ipython-input-10-fd0ccf29b614>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results['bytes'] = project_results[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

In [11]:
project_results_sorted = project_results.sort_values(by='receiveTimestamp', ascending=False)

# ID analysis

In [13]:
results_query = list(project_results_sorted['jobQueryResponse_jobId'])
results_insert = list(project_results_sorted['jobInsertResponse_jobId'])
results_results = list(project_results_sorted['jobGetQueryResultsResponse_jobId'])

information_results_ids = list(information_results['job_id'])

In [ ]:
filtered_query_ids = list(filter(None, results_query))
filtered_insert_ids = list(filter(None, results_insert))
filtered_results_ids = list(filter(None, results_results))

filtered_information_ids = list(filter(None, information_results_ids))

In [ ]:
combined_table_ids = filtered_query_ids + filtered_insert_ids + filtered_results_ids

In [ ]:
missing_combined_ids = [x for x in information_results_ids if x not in combined_table_ids]

In [ ]:
project_results_sorted_dropped = project_results_sorted.drop_duplicates(subset=['id'], keep='first')

In [ ]:
cleaned_results_query = list(project_results_sorted_dropped['id'])
filtered_cleaned_results_ids = list(filter(None, cleaned_results_query))

In [ ]:
missing_filtered_ids = [x for x in information_results_ids if x not in filtered_cleaned_results_ids]

In [ ]:
len(missing_filtered_ids)

0

In [ ]:
len(filtered_cleaned_results_ids) - len(filtered_information_ids)

4

# Match exactly

In [14]:
matched_results = project_results_sorted[project_results_sorted['id'].isin(information_results_ids)]

In [ ]:
information_results.drop_duplicates().total_bytes_billed.sum()

173920802045952

In [ ]:
matched_results_cleaned = matched_results.drop_duplicates(subset=['id', 'bytes'])

In [ ]:
matched_results_cleaned.bytes.sum()

173155831250944.0

They don't have the same amount of bytes even though the IDs are an exact match. We will analyse discrepencies

## Id diff analysis

In [15]:
results_table = matched_results[['id', 'receiveTimestamp', 'bytes', 'owner']]

In [18]:
information_table = information_results[['job_id', 'total_bytes_billed']]

In [17]:
results_table

Warning: total number of rows (61746) exceeds max_rows (20000). Falling back to pandas display.

,id,receiveTimestamp,bytes,owner
253539,8df56b2f-45bb-4152-8119-114fd9a325e6,2022-12-13 14:45:18.557621+00:00,NaN,0.0
1206744,job_A3fwwPSBAkBLOnE0yqotr5Cdl26F,2022-12-13 14:45:16.737297+00:00,62914560.0,0.0
1006806,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:45:16.203763+00:00,NaN,0.0
730042,8152fe5d-eefd-4b23-ab92-c9e033e365f2,2022-12-13 14:45:13.154923+00:00,NaN,0.0
248944,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:45:12.517496+00:00,NaN,0.0
...,...,...,...,...
733570,job_kVg8zGxeFGPjpKZUsjVPQspG_9T4,2022-12-13 00:00:06.118252+00:00,NaN,1.0
41038,job_W-ceQW44pET3B_3Rs2y5w1qKDdoM,2022-12-13 00:00:04.193982+00:00,10485760.0,1.0
72791,job_Vkc-TXlHfa90VV1GIdwi_jtL0lf-,2022-12-13 00:00:04.039668+00:00,10485760.0,1.0
174176,job_Tgh4O9yEpbKu_FcTsw8WyTN-Bim5,2022-12-13 00:00:02.013243+00:00,20971520.0,0.0
212845,job_Tgh4O9yEpbKu_FcTsw8WyTN-Bim5,2022-12-13 00:00:01.731354+00:00,NaN,1.0

In [19]:
information_table = information_table.rename(columns={'job_id': 'id'})

In [20]:
merged_table = information_table.merge(results_table, on='id')

In [21]:
merged_table = merged_table.fillna(0)

# Merged table analysis

In [22]:
merged_table

Warning: total number of rows (61746) exceeds max_rows (20000). Falling back to pandas display.

,id,total_bytes_billed,receiveTimestamp,bytes,owner
0,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,0,2022-12-13 06:00:47.476054+00:00,0.0,2.0
1,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,0,2022-12-13 06:00:47.169960+00:00,0.0,0.0
2,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,0,2022-12-13 06:00:47.084504+00:00,0.0,0.0
3,442faaf0-d0b0-47fd-9daf-157e80b58101,0,2022-12-13 09:05:47.509492+00:00,0.0,0.0
4,442faaf0-d0b0-47fd-9daf-157e80b58101,0,2022-12-13 09:05:45.958315+00:00,0.0,2.0
...,...,...,...,...,...
61741,job_9RY_q_Gh2kmKjLulbpUxQ4fhQD_3,10485760,2022-12-13 05:30:20.505837+00:00,10485760.0,1.0
61742,job_RxE917RHlYT2WdxnVJClmgjOKY2j,10485760,2022-12-13 14:10:02.875286+00:00,10485760.0,1.0
61743,job_qglDx3X-rbVKD5GV2og8IzXcAHLh,10485760,2022-12-13 01:56:17.221556+00:00,10485760.0,1.0
61744,job_kLjsbUSkkwU5o2vFUqiVyaE3JQIq,10485760,2022-12-13 03:49:45.449515+00:00,10485760.0,1.0
61745,job_1YoqfDQOqKL7VPRG4JYVqa6V4tDW,10485760,2022-12-13 03:33:30.242540+00:00,10485760.0,1.0

In [23]:
no_match_ids = list(merged_table[merged_table['total_bytes_billed'] != merged_table['bytes']].id)

In [24]:
no_match_ids_table = merged_table[merged_table['id'].isin(no_match_ids)]

In [28]:
no_match_dropped = no_match_ids_table.drop_duplicates(subset=['id','owner'], keep = 'first')

In [31]:
no_match_dropped.owner

5        0.0
6        2.0
10       0.0
11       2.0
12       0.0
        ...
61605    2.0
61606    0.0
61607    2.0
61682    0.0
61683    2.0
Name: owner, Length: 32012, dtype: float64

Our initial theory is to keep only the most recent

In [ ]:

def set_price_to_max(group):
    group['price'] = group['bytes'].max()
    return group

results_table = results_table.groupby('id').transform(set_price_to_max)

In [45]:
grouped_results_table = results_table.groupby('id')[['bytes']].max()

In [71]:
grouped_results_table.bytes.sum()

170413949714432.0

In [40]:
information_table.total_bytes_billed.sum()

173920802045952

In [47]:
information_table

Warning: total number of rows (35450) exceeds max_rows (20000). Falling back to pandas display.

                                         id  total_bytes_billed
0      5da20ff9-4914-4aeb-adbb-2bd2813a92f3                   0
1      442faaf0-d0b0-47fd-9daf-157e80b58101                   0
2      46d02560-55c0-4d81-b3e4-6cba01acf92c          1609564160
3      321b0de6-a945-4a96-a1d3-c4848a4d78d6                   0
4      bf2a74c4-68ca-432a-8b89-c7bee441fcdb            10485760
...                                     ...                 ...
35445      job_9RY_q_Gh2kmKjLulbpUxQ4fhQD_3            10485760
35446      job_RxE917RHlYT2WdxnVJClmgjOKY2j            10485760
35447      job_qglDx3X-rbVKD5GV2og8IzXcAHLh            10485760
35448      job_kLjsbUSkkwU5o2vFUqiVyaE3JQIq            10485760
35449      job_1YoqfDQOqKL7VPRG4JYVqa6V4tDW            10485760

[35450 rows x 2 columns]

In [66]:
merged_grouped = grouped_results_table.reset_index().merge(information_table, on='id')

In [67]:
merged_grouped = merged_grouped.fillna(0)

In [68]:
merged_grouped_diff = merged_grouped[merged_grouped['bytes'] != merged_grouped['total_bytes_billed']]

In [59]:
merged_grouped_diff.bytes.value_counts()

9.0    8727
Name: bytes, dtype: int64

In [70]:
merged_grouped_diff.total_bytes_billed.sum()

3506852331520

In [81]:
merged_grouped_diff

                                        id  bytes  total_bytes_billed
748   14f1bf91-70f5-41f6-97d7-f4fe97c86041    0.0        767023906816
2408  448b3124-5b37-4d31-b22a-4f3369f7dd48    0.0        288919388160
4067  745f0ee2-e7d2-46e7-8274-117b35ff0b0b    0.0        871646625792
4318  7b6a7ccf-0de2-4456-9aef-6c1d47157737    0.0        428039208960
4525  8152fe5d-eefd-4b23-ab92-c9e033e365f2    0.0         62587404288
4948  8df56b2f-45bb-4152-8119-114fd9a325e6    0.0        140158959616
5444  9c9d5633-2b42-402b-b7e2-b9acf48b2000    0.0        943932309504
9259  d1eb861a-671d-4a4c-8ea5-7e78cf101657    0.0          4544528384

In [72]:
170413949714432.0 + 3506852331520

173920802045952.0

I FOUND YOU 8 QUERIES

In [79]:
difference_queries = list(merged_grouped_diff.id)

In [84]:
results_table[results_table['id'].isin(difference_queries)]

,id,receiveTimestamp,bytes,owner
253539,8df56b2f-45bb-4152-8119-114fd9a325e6,2022-12-13 14:45:18.557621+00:00,NaN,0.0
1006806,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:45:16.203763+00:00,NaN,0.0
730042,8152fe5d-eefd-4b23-ab92-c9e033e365f2,2022-12-13 14:45:13.154923+00:00,NaN,0.0
248944,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:45:12.517496+00:00,NaN,0.0
977245,8df56b2f-45bb-4152-8119-114fd9a325e6,2022-12-13 14:45:07.399324+00:00,NaN,0.0
426972,8152fe5d-eefd-4b23-ab92-c9e033e365f2,2022-12-13 14:45:03.651356+00:00,NaN,2.0
690537,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:45:02.495514+00:00,NaN,0.0
225151,8df56b2f-45bb-4152-8119-114fd9a325e6,2022-12-13 14:44:55.508956+00:00,NaN,0.0
109392,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:44:50.784407+00:00,NaN,0.0
30630,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:44:46.689302+00:00,NaN,0.0
572022,8df56b2f-45bb-4152-8119-114fd9a325e6,2022-12-13 14:44:45.004229+00:00,NaN,2.0
412996,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:44:34.534236+00:00,NaN,0.0
746314,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:44:33.620437+00:00,NaN,0.0
1113646,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:44:24.705283+00:00,NaN,0.0
524809,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:44:22.992659+00:00,NaN,0.0
1091105,7b6a7ccf-0de2-4456-9aef-6c1d47157737,2022-12-13 14:44:14.616855+00:00,NaN,2.0
31302,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:44:11.245740+00:00,NaN,0.0
556575,448b3124-5b37-4d31-b22a-4f3369f7dd48,2022-12-13 14:44:02.090437+00:00,NaN,2.0
357322,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:50:41.566346+00:00,NaN,0.0
387956,9c9d5633-2b42-402b-b7e2-b9acf48b2000,2022-12-13 12:50:34.870577+00:00,NaN,0.0
970437,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:50:18.949820+00:00,NaN,0.0
331350,9c9d5633-2b42-402b-b7e2-b9acf48b2000,2022-12-13 12:50:13.549515+00:00,NaN,0.0
308011,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:50:02.903207+00:00,NaN,0.0
308129,9c9d5633-2b42-402b-b7e2-b9acf48b2000,2022-12-13 12:50:02.098347+00:00,NaN,0.0
356536,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:49:51.897340+00:00,NaN,0.0
842625,9c9d5633-2b42-402b-b7e2-b9acf48b2000,2022-12-13 12:49:51.678878+00:00,NaN,0.0
980107,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:49:50.809002+00:00,NaN,0.0
216696,9c9d5633-2b42-402b-b7e2-b9acf48b2000,2022-12-13 12:49:42.264153+00:00,NaN,2.0
275398,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:49:34.590729+00:00,NaN,0.0
689977,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:49:28.801232+00:00,NaN,0.0
82994,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:49:22.753330+00:00,NaN,0.0
448987,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:49:17.765181+00:00,NaN,0.0
832786,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:49:11.744520+00:00,NaN,0.0
355587,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:49:04.670732+00:00,NaN,0.0
766902,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,2022-12-13 12:49:01.265469+00:00,NaN,2.0
869383,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:48:54.638235+00:00,NaN,0.0
1060345,14f1bf91-70f5-41f6-97d7-f4fe97c86041,2022-12-13 12:48:44.142953+00:00,NaN,2.0
301183,d1eb861a-671d-4a4c-8ea5-7e78cf101657,2022-12-13 09:31:01.646117+00:00,NaN,0.0
664577,d1eb861a-671d-4a4c-8ea5-7e78cf101657,2022-12-13 09:30:51.921343+00:00,NaN,2.0

In [86]:
results[results['jobGetQueryResultsResponse_jobId'].isin(difference_queries)]

Warning: Total number of columns (38) exceeds max_columns (20). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,timestamp,receiveTimestamp,jobInsertResponse_status,jobInsertResponse_createTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
30630,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:46.379712+00:00,2022-12-13 14:44:46.689302+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:13.562000+00:00,2022-12-13 14:44:13.763000+00:00,NaT,<NA>,21311145,<NA>,7b6a7ccf-0de2-4456-9aef-6c1d47157737,<NA>,<NA>
31302,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:11.199047+00:00,2022-12-13 14:44:11.245740+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:01.163000+00:00,2022-12-13 14:44:01.328000+00:00,NaT,<NA>,<NA>,<NA>,448b3124-5b37-4d31-b22a-4f3369f7dd48,<NA>,<NA>
82994,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:22.321624+00:00,2022-12-13 12:49:22.753330+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:00.223000+00:00,2022-12-13 12:49:00.721000+00:00,NaT,<NA>,2357,<NA>,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,<NA>,<NA>
109392,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:50.493629+00:00,2022-12-13 14:44:50.784407+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:01.163000+00:00,2022-12-13 14:44:01.328000+00:00,NaT,<NA>,20625395,<NA>,448b3124-5b37-4d31-b22a-4f3369f7dd48,<NA>,<NA>
225151,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:54.780294+00:00,2022-12-13 14:44:55.508956+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:44.580000+00:00,2022-12-13 14:44:44.754000+00:00,NaT,<NA>,<NA>,<NA>,8df56b2f-45bb-4152-8119-114fd9a325e6,<NA>,<NA>
248944,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:45:12.093982+00:00,2022-12-13 14:45:12.517496+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:01.163000+00:00,2022-12-13 14:44:01.328000+00:00,NaT,<NA>,33308776,<NA>,448b3124-5b37-4d31-b22a-4f3369f7dd48,<NA>,<NA>
253539,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:45:18.175672+00:00,2022-12-13 14:45:18.557621+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:44.580000+00:00,2022-12-13 14:44:44.754000+00:00,NaT,<NA>,11063136,<NA>,8df56b2f-45bb-4152-8119-114fd9a325e6,<NA>,<NA>
275398,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:34.580744+00:00,2022-12-13 12:49:34.590729+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:00.223000+00:00,2022-12-13 12:49:00.721000+00:00,NaT,<NA>,22259769,<NA>,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,<NA>,<NA>
301183,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 09:31:01.206196+00:00,2022-12-13 09:31:01.646117+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 09:30:51.025000+00:00,2022-12-13 09:30:51.223000+00:00,NaT,<NA>,6847,<NA>,d1eb861a-671d-4a4c-8ea5-7e78cf101657,<NA>,<NA>
308011,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:50:02.825034+00:00,2022-12-13 12:50:02.903207+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:00.223000+00:00,2022-12-13 12:49:00.721000+00:00,NaT,<NA>,42584083,<NA>,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,<NA>,<NA>
308129,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:50:01.571929+00:00,2022-12-13 12:50:02.098347+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:40.910000+00:00,2022-12-13 12:49:41.390000+00:00,NaT,<NA>,74294,<NA>,9c9d5633-2b42-402b-b7e2-b9acf48b2000,<NA>,<NA>
331350,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:50:13.207672+00:00,2022-12-13 12:50:13.549515+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:40.910000+00:00,2022-12-13 12:49:41.390000+00:00,NaT,<NA>,19917912,<NA>,9c9d5633-2b42-402b-b7e2-b9acf48b2000,<NA>,<NA>
355587,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:04.641218+00:00,2022-12-13 12:49:04.670732+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:48:43.492000+00:00,2022-12-13 12:48:44.075000+00:00,NaT,<NA>,198084,<NA>,14f1bf91-70f5-41f6-97d7-f4fe97c86041,<NA>,<NA>
356536,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:51.111696+00:00,2022-12-13 12:49:51.897340+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:00.223000+00:00,2022-12-13 12:49:00.721000+00:00,NaT,<NA>,22259769,<NA>,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,<NA>,<NA>
357322,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:50:40.950044+00:00,2022-12-13 12:50:41.566346+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:00.223000+00:00,2022-12-13 12:49:00.721000+00:00,NaT,<NA>,59235665,<NA>,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,<NA>,<NA>
387956,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:50:33.999078+00:00,2022-12-13 12:50:34.870577+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:40.910000+00:00,2022-12-13 12:49:41.390000+00:00,NaT,<NA>,19917912,<NA>,9c9d5633-2b42-402b-b7e2-b9acf48b2000,<NA>,<NA>
412996,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:34.362464+00:00,2022-12-13 14:44:34.534236+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:13.562000+00:00,2022-12-13 14:44:13.763000+00:00,NaT,<NA>,<NA>,<NA>,7b6a7ccf-0de2-4456-9aef-6c1d47157737,<NA>,<NA>
448987,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:17.174252+00:00,2022-12-13 12:49:17.765181+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:48:43.492000+00:00,2022-12-13 12:48:44.075000+00:00,NaT,<NA>,17391081,<NA>,14f1bf91-70f5-41f6-97d7-f4fe97c86041,<NA>,<NA>
524809,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:22.020912+00:00,2022-12-13 14:44:22.992659+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:01.163000+00:00,2022-12-13 14:44:01.328000+00:00,NaT,<NA>,<NA>,<NA>,448b3124-5b37-4d31-b22a-4f3369f7dd48,<NA>,<NA>
689977,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:28.791743+00:00,2022-12-13 12:49:28.801232+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:48:43.492000+00:00,2022-12-13 12:48:44.075000+00:00,NaT,<NA>,17391081,<NA>,14f1bf91-70f5-41f6-97d7-f4fe97c86041,<NA>,<NA>
690537,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:45:02.241401+00:00,2022-12-13 14:45:02.495514+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:13.562000+00:00,2022-12-13 14:44:13.763000+00:00,NaT,<NA>,21311145,<NA>,7b6a7ccf-0de2-4456-9aef-6c1d47157737,<NA>,<NA>
730042,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:45:12.530363+00:00,2022-12-13 14:45:13.154923+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:45:02.382000+00:00,2022-12-13 14:45:02.593000+00:00,NaT,<NA>,<NA>,<NA>,8152fe5d-eefd-4b23-ab92-c9e033e365f2,<NA>,<NA>
746314,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:33.497752+00:00,2022-12-13 14:44:33.620437+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:01.163000+00:00,2022-12-13 14:44:01.328000+00:00,NaT,<NA>,20625395,<NA>,448b3124-5b37-4d31-b22a-4f3369f7dd48,<NA>,<NA>
832786,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:10.771737+00:00,2022-12-13 12:49:11.744520+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:00.223000+00:00,2022-12-13 12:49:00.721000+00:00,NaT,<NA>,2357,<NA>,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,<NA>,<NA>
842625,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:51.475636+00:00,2022-12-13 12:49:51.678878+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:49:40.910000+00:00,2022-12-13 12:49:41.390000+00:00,NaT,<NA>,74294,<NA>,9c9d5633-2b42-402b-b7e2-b9acf48b2000,<NA>,<NA>
869383,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:48:54.083324+00:00,2022-12-13 12:48:54.638235+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:48:43.492000+00:00,2022-12-13 12:48:44.075000+00:00,NaT,<NA>,198084,<NA>,14f1bf91-70f5-41f6-97d7-f4fe97c86041,<NA>,<NA>
970437,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:50:18.030029+00:00,2022-12-13 12:50:18.949820+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:48:43.492000+00:00,2022-12-13 12:48:44.075000+00:00,NaT,<NA>,64348352,<NA>,14f1bf91-70f5-41f6-97d7-f4fe97c86041,<NA>,<NA>
977245,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:45:06.639174+00:00,2022-12-13 14:45:07.399324+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:44.580000+00:00,2022-12-13 14:44:44.754000+00:00,NaT,<NA>,<NA>,<NA>,8df56b2f-45bb-4152-8119-114fd9a325e6,<NA>,<NA>
980107,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 12:49:50.360561+00:00,2022-12-13 12:49:50.809002+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 12:48:43.492000+00:00,2022-12-13 12:48:44.075000+00:00,NaT,<NA>,41712526,<NA>,14f1bf91-70f5-41f6-97d7-f4fe97c86041,<NA>,<NA>
1006806,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:45:15.505756+00:00,2022-12-13 14:45:16.203763+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:13.562000+00:00,2022-12-13 14:44:13.763000+00:00,NaT,<NA>,31655901,<NA>,7b6a7ccf-0de2-4456-9aef-6c1d47157737,<NA>,<NA>
1113646,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_resource,ric-eu-dl-ops-dev-nprd,None,None,jobservice.getqueryresults,2022-12-13 14:44:23.803669+00:00,2022-12-13 14:44:24.705283+00:00,None,NaT,...,"{'state': 'RUNNING', 'error': None, 'additiona...",2022-12-13 14:44:13.562000+00:00,2022-12-13 14:44:13.763000+00:00,NaT,<NA>,<NA>,<NA>,7b6a7ccf-0de2-4456-9aef-6c1d47157737,<NA>,<NA>

# I need to analyse these queries

In [85]:
information_results[information_results['job_id'].isin(difference_queries)]

,creation_time,project_id,job_id,job_type,statement_type,start_time,end_time,state,total_bytes_billed,total_bytes_processed,total_slot_ms
171,2022-12-13 12:49:00.223000+00:00,ric-eu-dl-ops-dev-nprd,745f0ee2-e7d2-46e7-8274-117b35ff0b0b,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 12:49:00.721000+00:00,2022-12-13 12:50:44.231000+00:00,DONE,871646625792,871645638600,66317549
3723,2022-12-13 12:49:40.910000+00:00,ric-eu-dl-ops-dev-nprd,9c9d5633-2b42-402b-b7e2-b9acf48b2000,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 12:49:41.390000+00:00,2022-12-13 13:00:59.307000+00:00,DONE,943932309504,943931466831,294663566
17173,2022-12-13 12:48:43.492000+00:00,ric-eu-dl-ops-dev-nprd,14f1bf91-70f5-41f6-97d7-f4fe97c86041,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 12:48:44.075000+00:00,2022-12-13 12:51:00.331000+00:00,DONE,767023906816,767023866669,90919961
19538,2022-12-13 14:44:44.580000+00:00,ric-eu-dl-ops-dev-nprd,8df56b2f-45bb-4152-8119-114fd9a325e6,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 14:44:44.754000+00:00,2022-12-13 14:45:52.141000+00:00,DONE,140158959616,140158310985,11521946
19899,2022-12-13 14:45:02.382000+00:00,ric-eu-dl-ops-dev-nprd,8152fe5d-eefd-4b23-ab92-c9e033e365f2,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 14:45:02.593000+00:00,2022-12-13 14:45:29.691000+00:00,DONE,62587404288,62586398827,4590315
22182,2022-12-13 14:44:13.562000+00:00,ric-eu-dl-ops-dev-nprd,7b6a7ccf-0de2-4456-9aef-6c1d47157737,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 14:44:13.763000+00:00,2022-12-13 14:45:38.690000+00:00,DONE,428039208960,428038681152,34959433
27283,2022-12-13 09:30:51.025000+00:00,ric-eu-dl-ops-dev-nprd,d1eb861a-671d-4a4c-8ea5-7e78cf101657,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 09:30:51.223000+00:00,2022-12-13 09:31:01.409000+00:00,DONE,4544528384,4543922214,206299
33294,2022-12-13 14:44:01.163000+00:00,ric-eu-dl-ops-dev-nprd,448b3124-5b37-4d31-b22a-4f3369f7dd48,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 14:44:01.328000+00:00,2022-12-13 14:45:18.737000+00:00,DONE,288919388160,288919140610,33441815