<a href="https://colab.research.google.com/github/alexgirardet/Analyzing_Rightmove/blob/main/BigQuery_bquxjob_22c8021f_185865ea938.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'ric-eu-dl-ops-dev-nprd' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=ric-eu-dl-ops-dev-nprd:EU:bquxjob_22c8021f_185865ea938)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_22c8021f_185865ea938') # Job ID inserted based on the query results selected to explore
print(job.query)

WITH source_data AS (
    SELECT

    logName, resource.type,
    resource.labels.project_id,
    resource.labels.dataset_id,
    resource.labels.location,
    resource.labels.table_id,

    timestamp,
    receiveTimestamp,

    protopayload_auditlog.methodName as method,
    protopayload_auditlog.servicedata_v1_bigquery.jobInsertRequest as jobInsert,
    protopayload_auditlog.servicedata_v1_bigquery.jobQueryRequest jobQueryRequest,
    protopayload_auditlog.servicedata_v1_bigquery.jobInsertResponse jobInsertResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobQueryResponse jobQueryResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobGetQueryResultsResponse jobGetQueryResultsResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobQueryDoneResponse jobQueryDoneResponse,
    protopayload_auditlog.servicedata_v1_bigquery.jobCompletedEvent jobCompletedEvent

    FROM `ric-eu-dl-lz-dev-nprd`.`alexsbx_billing_export`.`stg_data_access`
)

SELECT
logName,
type,
project_id,
dataset_id,
location,
method,

timestamp,
receiveTimestamp,


jobInsertResponse.resource.jobStatus jobInsertResponse_status,
jobInsertResponse.resource.jobStatistics.createTime jobInsertResponse_createTime,
jobInsertResponse.resource.jobStatistics.startTime jobInsertResponse_startTime,
jobInsertResponse.resource.jobStatistics.endTime jobInsertResponse_endTime,
jobInsertResponse.resource.jobStatistics.billingTier jobInsertResponse_billingTier,
jobInsertResponse.resource.jobStatistics.totalSlotMs jobInsertResponse_totalSlotMs,
jobInsertResponse.resource.jobStatistics.totalViewsProcessed jobInsertResponse_totalViewsProcessed,
jobInsertResponse.resource.jobName.jobId jobInsertResponse_jobId,
jobInsertResponse.resource.jobStatistics.totalProcessedBytes jobInsertResponse_totalProcessedBytes,
jobInsertResponse.resource.jobStatistics.totalBilledBytes jobInsertResponse_totalBilledBytes,

jobQueryResponse.job.jobStatus jobQueryResponse_status,
jobQueryResponse.job.jobStatistics.createTime jobQueryResponse_createTime,
jobQueryResponse.job.jobStatistics.startTime jobQueryResponse_startTime,
jobQueryResponse.job.jobStatistics.endTime jobQueryResponse_endTime,
jobQueryResponse.job.jobStatistics.billingTier jobQueryResponse_billingTier,
jobQueryResponse.job.jobStatistics.totalSlotMs jobQueryResponse_totalSlotMs,
jobQueryResponse.job.jobStatistics.totalViewsProcessed jobQueryResponse_totalViewsProcessed,
jobQueryResponse.job.jobName.jobId jobQueryResponse_jobId,
jobQueryResponse.job.jobStatistics.totalProcessedBytes jobQueryResponse_totalProcessedBytes,
jobQueryResponse.job.jobStatistics.totalBilledBytes jobQueryResponse_totalBilledBytes,

jobGetQueryResultsResponse.job.jobStatus jobGetQueryResultsResponse_status,
jobGetQueryResultsResponse.job.jobStatistics.createTime jobGetQueryResultsResponse_createTime,
jobGetQueryResultsResponse.job.jobStatistics.startTime jobGetQueryResultsResponse_startTime,
jobGetQueryResultsResponse.job.jobStatistics.endTime jobGetQueryResultsResponse_endTime,
jobGetQueryResultsResponse.job.jobStatistics.billingTier jobGetQueryResultsResponse_billingTier,
jobGetQueryResultsResponse.job.jobStatistics.totalSlotMs jobGetQueryResultsResponse_totalSlotMs,
jobGetQueryResultsResponse.job.jobStatistics.totalViewsProcessed jobGetQueryResultsResponse_totalViewsProcessed,
jobGetQueryResultsResponse.job.jobName.jobId jobGetQueryResultsResponse_jobId,
jobGetQueryResultsResponse.job.jobStatistics.totalProcessedBytes jobGetQueryResultsResponse_totalProcessedBytes,
jobGetQueryResultsResponse.job.jobStatistics.totalBilledBytes jobGetQueryResultsResponse_totalBilledBytes

FROM source_data

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_22c8021f_185865ea938') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

Warning: total number of rows (1226906) exceeds max_rows (20000). Falling back to pandas display.

,logName,type,project_id,dataset_id,location,method,timestamp,receiveTimestamp,jobInsertResponse_status,jobInsertResponse_createTime,...,jobGetQueryResultsResponse_status,jobGetQueryResultsResponse_createTime,jobGetQueryResultsResponse_startTime,jobGetQueryResultsResponse_endTime,jobGetQueryResultsResponse_billingTier,jobGetQueryResultsResponse_totalSlotMs,jobGetQueryResultsResponse_totalViewsProcessed,jobGetQueryResultsResponse_jobId,jobGetQueryResultsResponse_totalProcessedBytes,jobGetQueryResultsResponse_totalBilledBytes
0,projects/ric-eu-optimus-gms-nprd/logs/cloudaud...,bigquery_resource,ric-eu-optimus-gms-nprd,None,None,jobservice.insert,2022-12-13 04:14:44.553154+00:00,2022-12-13 04:14:45.101120+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1,projects/ric-eu-optimus-gms-nprd/logs/cloudaud...,bigquery_resource,ric-eu-optimus-gms-nprd,None,None,jobservice.insert,2022-12-13 08:10:58.810638+00:00,2022-12-13 08:10:59.004443+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
2,projects/ric-eu-optimus-gms-nprd/logs/cloudaud...,bigquery_resource,ric-eu-optimus-gms-nprd,None,None,jobservice.insert,2022-12-13 04:16:46.637672+00:00,2022-12-13 04:16:47.412114+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
3,projects/car-ww-datalake-common-nprd/logs/clou...,bigquery_dataset,car-ww-datalake-common-nprd,car_app_crm_high_spender,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 14:38:16.372840+00:00,2022-12-13 14:38:17.059685+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
4,projects/car-eu-datalake-mch-ms-ww-nprd/logs/c...,bigquery_project,car-eu-datalake-mch-ms-ww-nprd,None,EU,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 10:34:12.346284+00:00,2022-12-13 10:34:12.980190+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226901,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_dataset,ric-eu-dl-ops-dev-nprd,bqdts_cortex,None,google.cloud.bigquery.v2.JobService.Query,2022-12-13 14:23:37.977492+00:00,2022-12-13 14:23:38.470768+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226902,projects/ric-eu-dl-cl-vca-prd/logs/cloudaudit....,bigquery_dataset,ric-eu-dl-cl-vca-prd,bqdts_inventory_management,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 02:09:21.457400+00:00,2022-12-13 02:09:21.607335+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226903,projects/ric-eu-dl-ops-dev-nprd/logs/cloudaudi...,bigquery_dataset,ric-eu-dl-ops-dev-nprd,bqdts_cortex,None,google.cloud.bigquery.v2.JobService.Query,2022-12-13 00:10:49.868240+00:00,2022-12-13 00:10:50.871446+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226904,projects/rdu-eu-datalake-crm-nprd/logs/cloudau...,bigquery_dataset,rdu-eu-datalake-crm-nprd,8_CRM_Dashboards,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 02:04:56.698630+00:00,2022-12-13 02:04:57.703292+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>
1226905,projects/ric-eu-datalake-prd/logs/cloudaudit.g...,bigquery_dataset,ric-eu-datalake-prd,bqdts_datalake_staging,None,google.cloud.bigquery.v2.JobService.InsertJob,2022-12-13 03:18:59.267417+00:00,2022-12-13 03:18:59.748804+00:00,None,NaT,...,None,NaT,NaT,NaT,<NA>,<NA>,<NA>,None,<NA>,<NA>

# Information Schema Jobs

In [5]:
information_job = client.get_job('bquxjob_41bb133d_1858663ed13') # Job ID inserted based on the query results selected to explore
information_results = information_job.to_dataframe()
information_results

Warning: total number of rows (35450) exceeds max_rows (20000). Falling back to pandas display.

,creation_time,project_id,job_id,job_type,statement_type,start_time,end_time,state,total_bytes_billed,total_bytes_processed,total_slot_ms
0,2022-12-13 06:00:46.389000+00:00,ric-eu-dl-ops-dev-nprd,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,QUERY,SELECT,2022-12-13 06:00:46.455000+00:00,2022-12-13 06:00:46.615000+00:00,DONE,0,0,33
1,2022-12-13 09:05:44.996000+00:00,ric-eu-dl-ops-dev-nprd,442faaf0-d0b0-47fd-9daf-157e80b58101,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 09:05:45.139000+00:00,2022-12-13 09:05:47.133000+00:00,DONE,0,0,19218
2,2022-12-13 12:42:34.410000+00:00,ric-eu-dl-ops-dev-nprd,46d02560-55c0-4d81-b3e4-6cba01acf92c,QUERY,MERGE,2022-12-13 12:42:34.602000+00:00,2022-12-13 12:42:38.430000+00:00,DONE,1609564160,1609302292,55132
3,2022-12-13 13:08:30.896000+00:00,ric-eu-dl-ops-dev-nprd,321b0de6-a945-4a96-a1d3-c4848a4d78d6,QUERY,SELECT,2022-12-13 13:08:30.964000+00:00,2022-12-13 13:08:31.124000+00:00,DONE,0,0,43
4,2022-12-13 11:02:37.449000+00:00,ric-eu-dl-ops-dev-nprd,bf2a74c4-68ca-432a-8b89-c7bee441fcdb,QUERY,CREATE_TABLE_AS_SELECT,2022-12-13 11:02:37.638000+00:00,2022-12-13 11:02:39.430000+00:00,DONE,10485760,1521494,17808
...,...,...,...,...,...,...,...,...,...,...,...
35445,2022-12-13 05:30:19.354000+00:00,ric-eu-dl-ops-dev-nprd,job_9RY_q_Gh2kmKjLulbpUxQ4fhQD_3,QUERY,SELECT,2022-12-13 05:30:19.382000+00:00,2022-12-13 05:30:19.648000+00:00,DONE,10485760,10485760,116
35446,2022-12-13 14:10:01.285000+00:00,ric-eu-dl-ops-dev-nprd,job_RxE917RHlYT2WdxnVJClmgjOKY2j,QUERY,SELECT,2022-12-13 14:10:01.575000+00:00,2022-12-13 14:10:01.795000+00:00,DONE,10485760,10485760,44
35447,2022-12-13 01:56:16.886000+00:00,ric-eu-dl-ops-dev-nprd,job_qglDx3X-rbVKD5GV2og8IzXcAHLh,QUERY,SELECT,2022-12-13 01:56:16.935000+00:00,2022-12-13 01:56:17.082000+00:00,DONE,10485760,26,26
35448,2022-12-13 03:49:44.220000+00:00,ric-eu-dl-ops-dev-nprd,job_kLjsbUSkkwU5o2vFUqiVyaE3JQIq,QUERY,SELECT,2022-12-13 03:49:44.263000+00:00,2022-12-13 03:49:44.417000+00:00,DONE,10485760,9212,68
35449,2022-12-13 03:33:29.484000+00:00,ric-eu-dl-ops-dev-nprd,job_1YoqfDQOqKL7VPRG4JYVqa6V4tDW,QUERY,SELECT,2022-12-13 03:33:29.503000+00:00,2022-12-13 03:33:29.693000+00:00,DONE,10485760,10485760,92

# Replicate IS JOBS with audit logs

## Preprocessing

In [32]:
import numpy as np

In [33]:
def handle_ids(x):
  count = 0

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return 0
  elif query is not None:
    return 1
  elif insert is not None:
    return 2

def return_ids(x):

  query_results = x[0]
  query = x[1]
  insert = x[2]

  if query_results is not None:
    return query_results
  elif query is not None:
    return query
  elif insert is not None:
    return insert

def return_bytes(x):

  query_results = str(x[0])
  query = str(x[1])
  insert = str(x[2])

  if query_results != '<NA>':
    return float(query_results)
  elif query != '<NA>':
    return float(query)
  elif insert != '<NA>':
    return float(insert)
  else:
    return np.nan

In [7]:
project_results = results[results['project_id'] == 'ric-eu-dl-ops-dev-nprd']

In [11]:
project_results['owner'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

<ipython-input-11-4addef7d5806>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results['owner'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(handle_ids , axis=1)

In [12]:
project_results['id'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

<ipython-input-12-ee6d19d1796c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results['id'] = project_results[['jobGetQueryResultsResponse_jobId', 'jobQueryResponse_jobId', 'jobInsertResponse_jobId']].apply(return_ids , axis=1)

In [34]:
project_results['bytes'] = project_results[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

<ipython-input-34-fd0ccf29b614>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_results['bytes'] = project_results[['jobGetQueryResultsResponse_totalBilledBytes', 'jobQueryResponse_totalBilledBytes', 'jobInsertResponse_totalBilledBytes']].apply(return_bytes , axis=1)

In [35]:
project_results_sorted = project_results.sort_values(by='receiveTimestamp', ascending=False)

# ID analysis

In [36]:
results_query = list(project_results_sorted['jobQueryResponse_jobId'])
results_insert = list(project_results_sorted['jobInsertResponse_jobId'])
results_results = list(project_results_sorted['jobGetQueryResultsResponse_jobId'])

information_results_ids = list(information_results['job_id'])

In [37]:
filtered_query_ids = list(filter(None, results_query))
filtered_insert_ids = list(filter(None, results_insert))
filtered_results_ids = list(filter(None, results_results))

filtered_information_ids = list(filter(None, information_results_ids))

In [38]:
combined_table_ids = filtered_query_ids + filtered_insert_ids + filtered_results_ids

In [39]:
missing_combined_ids = [x for x in information_results_ids if x not in combined_table_ids]

In [40]:
project_results_sorted_dropped = project_results_sorted.drop_duplicates(subset=['id'], keep='first')

In [41]:
cleaned_results_query = list(project_results_sorted_dropped['id'])
filtered_cleaned_results_ids = list(filter(None, cleaned_results_query))

In [42]:
missing_filtered_ids = [x for x in information_results_ids if x not in filtered_cleaned_results_ids]

In [43]:
len(missing_filtered_ids)

0

In [44]:
len(filtered_cleaned_results_ids) - len(filtered_information_ids)

4

# Match exactly

In [48]:
matched_results = project_results_sorted[project_results_sorted['id'].isin(information_results_ids)]

In [46]:
information_results.drop_duplicates().total_bytes_billed.sum()

173920802045952

In [50]:
matched_results_cleaned = matched_results.drop_duplicates(subset=['id', 'bytes'])

In [53]:
matched_results_cleaned.bytes.sum()

173155831250944.0

They don't have the same amount of bytes even though the IDs are an exact match. We will analyse discrepencies

## Id diff analysis

In [100]:
results_table = matched_results[['id', 'receiveTimestamp', 'bytes', 'owner']]

In [59]:
information_table = information_results[['job_id', 'total_bytes_billed']]

In [61]:
results_table

Warning: total number of rows (51488) exceeds max_rows (20000). Falling back to pandas display.

                                           id       bytes  owner
185699   8df56b2f-45bb-4152-8119-114fd9a325e6         NaN    0.0
1207637      job_A3fwwPSBAkBLOnE0yqotr5Cdl26F  62914560.0    0.0
931926   7b6a7ccf-0de2-4456-9aef-6c1d47157737         NaN    0.0
654202   8152fe5d-eefd-4b23-ab92-c9e033e365f2         NaN    0.0
319984   448b3124-5b37-4d31-b22a-4f3369f7dd48         NaN    0.0
...                                       ...         ...    ...
810050       job_kVg8zGxeFGPjpKZUsjVPQspG_9T4         NaN    1.0
63118        job_W-ceQW44pET3B_3Rs2y5w1qKDdoM  10485760.0    1.0
57111        job_Vkc-TXlHfa90VV1GIdwi_jtL0lf-  10485760.0    1.0
122016       job_Tgh4O9yEpbKu_FcTsw8WyTN-Bim5  20971520.0    0.0
153005       job_Tgh4O9yEpbKu_FcTsw8WyTN-Bim5         NaN    1.0

[51488 rows x 3 columns]

In [82]:
information_table = information_table.rename(columns={'job_id': 'id'})

In [101]:
merged_table = information_table.merge(results_table, on='id')

In [102]:
merged_table = merged_table.fillna(0)

# Merged table analysis

In [103]:
merged_table

Warning: total number of rows (61746) exceeds max_rows (20000). Falling back to pandas display.

,id,total_bytes_billed,receiveTimestamp,bytes,owner
0,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,0,2022-12-13 06:00:47.476054+00:00,0.0,2.0
1,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,0,2022-12-13 06:00:47.169960+00:00,0.0,0.0
2,5da20ff9-4914-4aeb-adbb-2bd2813a92f3,0,2022-12-13 06:00:47.084504+00:00,0.0,0.0
3,442faaf0-d0b0-47fd-9daf-157e80b58101,0,2022-12-13 09:05:47.509492+00:00,0.0,0.0
4,442faaf0-d0b0-47fd-9daf-157e80b58101,0,2022-12-13 09:05:45.958315+00:00,0.0,2.0
...,...,...,...,...,...
61741,job_9RY_q_Gh2kmKjLulbpUxQ4fhQD_3,10485760,2022-12-13 05:30:20.505837+00:00,10485760.0,1.0
61742,job_RxE917RHlYT2WdxnVJClmgjOKY2j,10485760,2022-12-13 14:10:02.875286+00:00,10485760.0,1.0
61743,job_qglDx3X-rbVKD5GV2og8IzXcAHLh,10485760,2022-12-13 01:56:17.221556+00:00,10485760.0,1.0
61744,job_kLjsbUSkkwU5o2vFUqiVyaE3JQIq,10485760,2022-12-13 03:49:45.449515+00:00,10485760.0,1.0
61745,job_1YoqfDQOqKL7VPRG4JYVqa6V4tDW,10485760,2022-12-13 03:33:30.242540+00:00,10485760.0,1.0

In [104]:
no_match_ids = list(merged_table[merged_table['total_bytes_billed'] != merged_table['bytes']].id)

In [105]:
no_match_ids_table = merged_table[merged_table['id'].isin(no_match_ids)]

In [106]:
no_match_ids_table.head(50)

,id,total_bytes_billed,receiveTimestamp,bytes,owner
5,46d02560-55c0-4d81-b3e4-6cba01acf92c,1609564160,2022-12-13 12:42:39.314127+00:00,1.609564e+09,0.0
6,46d02560-55c0-4d81-b3e4-6cba01acf92c,1609564160,2022-12-13 12:42:35.480067+00:00,0.000000e+00,2.0
10,bf2a74c4-68ca-432a-8b89-c7bee441fcdb,10485760,2022-12-13 11:02:40.173260+00:00,1.048576e+07,0.0
11,bf2a74c4-68ca-432a-8b89-c7bee441fcdb,10485760,2022-12-13 11:02:38.528768+00:00,0.000000e+00,2.0
12,1c8dab48-1c9c-43f4-9a80-1c699aa7f207,10485760,2022-12-13 11:02:46.289242+00:00,1.048576e+07,0.0
13,1c8dab48-1c9c-43f4-9a80-1c699aa7f207,10485760,2022-12-13 11:02:44.137749+00:00,0.000000e+00,2.0
20,1b65412b-c8bc-4401-9aad-b8d1a81c05b6,10485760,2022-12-13 09:00:52.197094+00:00,1.048576e+07,0.0
21,1b65412b-c8bc-4401-9aad-b8d1a81c05b6,10485760,2022-12-13 09:00:49.361747+00:00,0.000000e+00,2.0
22,8925d173-2c36-44c8-9219-c9e50c95cf9b,10485760,2022-12-13 13:18:03.046465+00:00,1.048576e+07,0.0
23,8925d173-2c36-44c8-9219-c9e50c95cf9b,10485760,2022-12-13 13:18:01.096846+00:00,0.000000e+00,2.0
24,e64db91a-e42c-47bc-aac9-04b04baa6831,10485760,2022-12-13 10:02:29.155360+00:00,1.048576e+07,0.0
25,e64db91a-e42c-47bc-aac9-04b04baa6831,10485760,2022-12-13 10:02:26.913956+00:00,0.000000e+00,2.0
31,521ef06d-c2b0-4653-b0e3-9d82d9a738ab,20971520,2022-12-13 10:01:42.485320+00:00,2.097152e+07,0.0
32,521ef06d-c2b0-4653-b0e3-9d82d9a738ab,20971520,2022-12-13 10:01:40.580505+00:00,0.000000e+00,2.0
33,f3f93e6e-6bf7-4361-8580-9f5cde038df3,20971520,2022-12-13 12:01:39.221324+00:00,2.097152e+07,0.0
34,f3f93e6e-6bf7-4361-8580-9f5cde038df3,20971520,2022-12-13 12:01:36.424292+00:00,0.000000e+00,2.0
35,8cf05c05-1df7-4ceb-89d3-e6ed0ae22ae8,20971520,2022-12-13 13:01:38.510580+00:00,2.097152e+07,0.0
36,8cf05c05-1df7-4ceb-89d3-e6ed0ae22ae8,20971520,2022-12-13 13:01:36.303770+00:00,0.000000e+00,2.0
37,a668bc2e-2993-4df1-a56e-b256ca0a80d8,20971520,2022-12-13 03:01:37.789561+00:00,2.097152e+07,0.0
38,a668bc2e-2993-4df1-a56e-b256ca0a80d8,20971520,2022-12-13 03:01:35.675420+00:00,0.000000e+00,2.0
39,2de71a78-8f15-483f-b6c2-117d66f708fc,41943040,2022-12-13 01:01:26.960761+00:00,4.194304e+07,0.0
40,2de71a78-8f15-483f-b6c2-117d66f708fc,41943040,2022-12-13 01:01:24.597314+00:00,0.000000e+00,2.0
41,f5960fe0-9890-4dbb-9b53-ef921d52a44a,170917888,2022-12-13 13:20:40.966339+00:00,1.709179e+08,0.0
42,f5960fe0-9890-4dbb-9b53-ef921d52a44a,170917888,2022-12-13 13:20:38.604125+00:00,0.000000e+00,2.0
43,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:53:10.334605+00:00,6.336660e+11,0.0
44,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:52:40.593416+00:00,0.000000e+00,0.0
45,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:52:29.511559+00:00,0.000000e+00,0.0
46,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:52:15.594000+00:00,0.000000e+00,0.0
47,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:52:04.331768+00:00,0.000000e+00,0.0
48,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:51:53.492835+00:00,0.000000e+00,0.0
49,9eff600d-1edc-4e5d-ad8f-c2c7cc8631bb,633666011136,2022-12-13 13:51:43.609839+00:00,0.000000e+00,2.0
57,b4942f6c-fbfb-4754-b11f-4efdb909320b,25089277952,2022-12-13 14:32:35.918911+00:00,2.508928e+10,0.0
58,b4942f6c-fbfb-4754-b11f-4efdb909320b,25089277952,2022-12-13 14:32:27.441068+00:00,0.000000e+00,0.0
59,b4942f6c-fbfb-4754-b11f-4efdb909320b,25089277952,2022-12-13 14:32:17.629859+00:00,0.000000e+00,2.0
90,33195663-9edc-4f3f-a549-12ddaf1595cc,92291465216,2022-12-13 11:22:10.672815+00:00,9.229147e+10,0.0
91,33195663-9edc-4f3f-a549-12ddaf1595cc,92291465216,2022-12-13 11:22:10.381549+00:00,9.229147e+10,0.0
92,33195663-9edc-4f3f-a549-12ddaf1595cc,92291465216,2022-12-13 11:22:09.427265+00:00,0.000000e+00,2.0
99,82756da9-6e22-4e92-8838-6bb9494ba994,5424283648,2022-12-13 05:07:53.754481+00:00,5.424284e+09,0.0
100,82756da9-6e22-4e92-8838-6bb9494ba994,5424283648,2022-12-13 05:07:48.797569+00:00,0.000000e+00,2.0
103,79b80419-285e-4b55-9759-79c8f6c1fbcd,5664407552,2022-12-13 13:18:44.687929+00:00,5.664408e+09,0.0
104,79b80419-285e-4b55-9759-79c8f6c1fbcd,5664407552,2022-12-13 13:18:42.504832+00:00,0.000000e+00,0.0
105,79b80419-285e-4b55-9759-79c8f6c1fbcd,5664407552,2022-12-13 13:18:32.430816+00:00,0.000000e+00,2.0
106,a81cb6ba-cdb9-4866-86b4-820d0ab6175b,16246636544,2022-12-13 09:45:44.047588+00:00,1.624664e+10,0.0
107,a81cb6ba-cdb9-4866-86b4-820d0ab6175b,16246636544,2022-12-13 09:45:36.921606+00:00,0.000000e+00,2.0
108,e8ba6606-8c59-4ffd-aa51-5985259b514d,24043847680,2022-12-13 14:08:27.340225+00:00,2.404385e+10,0.0
109,e8ba6606-8c59-4ffd-aa51-5985259b514d,24043847680,2022-12-13 14:08:19.954971+00:00,0.000000e+00,0.0
110,e8ba6606-8c59-4ffd-aa51-5985259b514d,24043847680,2022-12-13 14:08:08.690606+00:00,0.000000e+00,0.0
111,e8ba6606-8c59-4ffd-aa51-5985259b514d,24043847680,2022-12-13 14:07:58.077607+00:00,0.000000e+00,2.0
112,20a02ec5-01f4-4c1a-800f-727a5d561a4d,1852833792,2022-12-13 10:02:43.261217+00:00,1.852834e+09,0.0
113,20a02ec5-01f4-4c1a-800f-727a5d561a4d,1852833792,2022-12-13 10:02:36.130406+00:00,0.000000e+00,2.0

In [ ]:

def set_price_to_max(group):
    group['price'] = group['bytes'].max()
    return group

results_table = results_table.groupby('id').transform(set_price_to_max)

In [112]:
results_table.groupby('id')['bytes'].max()

id
0004590d-3c5d-4588-99e7-907498d3194b             1.048576e+07
0005fdb6-b5f9-458b-b4a0-80630450b0f9             1.401579e+11
000e7039-648b-4a57-8008-3102271fd36c             1.256834e+11
00111841-ed16-48e8-88d2-0019f094b810             3.000920e+10
0011d943-0c0c-4454-afa9-eba07d745056             3.145728e+07
                                                     ...
script_job_fe2f2b9f2a5fc9fa75e402385d8e8fc1_1             NaN
script_job_fe5964cd7cd5abf0e88926c370d1c04a_3             NaN
script_job_feffb246d8ea8c98043059204660095f_0             NaN
script_job_ff18c3480870c7203db3c30bb0ddee90_2             NaN
script_job_ff2661e11c966f6e80f07deac470c14f_1    1.048576e+07
Name: bytes, Length: 35450, dtype: float64